#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FOCALTECH_FT3658U
    bool "Focaltech Touchscreen"
    default m
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.
